body{
    background: lightcoral;
}
h1{
    color: red;
    font-size: 100px;
}
h2{
    color: rgb(15, 15, 233);
    font-size: 80px;
} 
h3{
    color:  rgb(0, 255, 255);
    font-size: 40px;
}
h4{
    color: rgb(0, 255, 200);
    font-size: 30px;
}
p{
    color: yellow;
    font-size: 25px; ;
}